/.cask
/.mc-lists.el
/.places
/.smex-items
/ac-comphist.dat
/auto-save-list
/eshell/history
/eshell/lastdir
/flycheck*.el
/places
/projectile-bookmarks.eld
/projectile.cache
/sandbox
/tramp
/url
/var
